:host {
  display: block;
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-weight: normal;
}


.light {
  color: var(--lar-text-color-step-300)
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  --lar-list-item-padding-left: 0;
  margin-top: 3rem;
}

.col:first-child {
  padding-right: .8rem;
  border-right: 2px solid var(--lar-text-color-step-900);
}
.col:last-child {
  padding-left: .8rem;
}

.header {
  min-height: 9rem;
}


.values {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.values .value {
  margin: 1rem;
  padding: .6rem .6rem .6rem 1.6rem;
  background-color: var(--lar-color-primary-tint, #8623be)  !important;
  text-align: left;
  box-sizing: content-box;
  position: relative;
  border-radius: var(--kookon-values-box-border-radius, .5rem);
  text-align: center;
  font-size: .9rem;
}
.values .value:first-child {
  margin-bottom: .4rem;
}
.values .value:last-child {
  margin-top: .4rem;
}
.values .value lar-icon {
  position: absolute;
  left: .5rem;
}

.lar-value {
  font-size: var(--lar-node-value-font-size, 1.3rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
  min-height: var(--lar-node-value-font-size, 1.3rem);
  line-height: var(--lar-node-value-font-size, 1.3rem);
  bottom: calc(var(--lar-node-value-font-size, 1.3rem) * -0.5);
  position: absolute;
  overflow: hidden !important;
  padding: 0.5rem;
  left: 0;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
