:host {
  display: block;
}

.details {
  padding: 3rem 0 0 0;
}

.details  lar-button-group {
  align-items: center;
  justify-content: center;
}
.actions h3 {
  text-align: center;
}

small {
  font-size: 0.95rem;
}

.actions {
  min-height: 7rem
}
