<script type="text/javascript">
    $(document).on("larvabaseready", function() {
      RED.nodes.registerType(
        "kookon-usage",
        $.extend(true, {}, window.larvabase.uiNodeDefaults, {
          category: "Kookon",
          color: window.larvabase.colors.tertiary,
          defaults: {},
          icon: "serial.png",
          paletteLabel: "Kookon Usage",
          inputs: 1,
          outputs: 0,
          label: function() {
            return this.name || "Kookon Usage";
          },
          onpaletteadd: function() {
            window.larvabase.setupUINode(this);
          },
          oneditprepare: function() {
            window.larvabase.setupUnits(this);
          },
          oneditsave: function() {
          }
        })
      );
    });
  </script>

  <script type="text/x-red" data-template-name="kookon-usage">
  </script>
