<script type="text/javascript">
    $(document).on("larvabaseready", function() {
      RED.nodes.registerType(
        "kookon-area",
        $.extend(true, {}, window.larvabase.uiNodeDefaults, {
          category: "Kookon",
          color: window.larvabase.colors.tertiary,
          defaults: {},
          icon: "serial.png",
          paletteLabel: "Kookon Area",
          inputs: 1,
          outputs: 1,
          label: function() {
            return this.name || "Kookon Area";
          },
          onpaletteadd: function() {
            window.larvabase.setupUINode(this);
          },
          oneditprepare: function() {
            window.larvabase.setupUnits(this);
          },
          oneditsave: function() {}
        })
      );
    });
  </script>

  <script type="text/x-red" data-template-name="kookon-area">
  </script>
