<script type="text/javascript">
    $(document).on("larvabaseready", function() {
      RED.nodes.registerType(
        "kookon-gate",
        $.extend(true, {}, window.larvabase.nodeDefaults, {
          category: "Kookon",
          color: window.larvabase.colors.success,
          defaults: {
            name: { value: "" },
            plc: {
              value: "",
              type: "kookon-plc",
            },
          },
          icon: "serial.png",
          paletteLabel: "Kookon Gate",
          inputs: 1,
          outputs: 0,
          label: function() {
            return this.name || "Kookon Gate";
          },
          onpaletteadd: function() {
          },
          oneditprepare: function() {
          },
          oneditsave: function() {}
        })
      );
    });
  </script>

  <script type="text/x-red" data-template-name="kookon-gate">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
      <label for="node-input-plc">PLC</label>
      <input type="text" id="node-input-plc">
  </div>
  </script>
