<script type="text/javascript">
    $(document).on("larvabaseready", function() {
      RED.nodes.registerType(
        "kookon-box-out",
        $.extend(true, {}, window.larvabase.nodeDefaults, {
          category: "Kookon",
          color: window.larvabase.colors.success,
          defaults: {
            name: { value: "" },
            boxPLCID: {validate: RED.validators.number() },
            plc: {
              value: "",
              type: "kookon-plc",
            },
          },
          icon: "serial.png",
          paletteLabel: "Kookon Box output",
          inputs: 0,
          outputs: 6,
          outputLabels: ['Ssecurity status', 'Box log updates', 'Water meter output', 'Electricity meter output', 'Sliding door 1 status', 'Sliding door 2 status'],
          label: function() {
            return this.name || "Kookon Box output";
          },
          onpaletteadd: function() {
          },
          oneditprepare: function() {
          },
          oneditsave: function() {}
        })
      );
    });
  </script>

  <script type="text/x-red" data-template-name="kookon-box-out">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-boxPLCID">Box PLC ID (index)</label>
        <input type="text" id="node-input-boxPLCID" placeholder="Name">
    </div>
    <div class="form-row">
      <label for="node-input-plc">PLC</label>
      <input type="text" id="node-input-plc">
  </div>
  </script>

<script type="text/html" data-help-name="kookon-box-out">

<h3>Outputs</h3>
  <ol class="node-ports">
      <li>Box security status
          <dl class="message-properties">
              <dt>payload <span class="property-type">number</span></dt>
              <dd>the standard output of security status.</dd>
          </dl>
      </li>
      <li>Box M-bus1 output
          <dl class="message-properties">
              <dt>payload <span class="property-type">number</span></dt>
              <dd>the standard output of mbus1.</dd>
          </dl>
      </li>
      <li>Box M-bus2 output
          <dl class="message-properties">
              <dt>payload <span class="property-type">number</span></dt>
              <dd>the standard output of mbus2.</dd>
          </dl>
      </li>
      <li>Door1 output
          <dl class="message-properties">
              <dt>payload <span class="property-type">number</span></dt>
              <dd>the standard output of door.</dd>
          </dl>
      </li>
      <li>Door2 output
        <dl class="message-properties">
            <dt>payload <span class="property-type">number</span></dt>
            <dd>the standard output of door.</dd>
        </dl>
    </li>
  </ol>


</script>
