<script type="text/javascript">
    $(document).on("larvabaseready", function() {
      RED.nodes.registerType(
        "kookon-cards",
        $.extend(true, {}, window.larvabase.nodeDefaults, {
          category: "Kookon",
          color: window.larvabase.colors.success,
          defaults: {
            name: { value: "" },
            unit: { value: "00000000-0000-0000-0000-000000000000" },
            boxPLCID: {validate: RED.validators.number() },
            plc: {
              value: "",
              type: "kookon-plc",
            },
          },
          icon: "serial.png",
          paletteLabel: "Kookon Cards",
          inputs: 0,
          outputs: 0,
          label: function() {
            return this.name || "Kookon Cards";
          },
          onpaletteadd: function() {
          },
          oneditprepare: function() {
          var unit = this.unit;
          window.larvabase.getUnits(function(units) {
            var select = $("#node-input-unit-select");
            select.empty();
            var group0 = $("<optgroup/>", {
              label: "Units"
            }).appendTo(select); // add opgroup based extensions
            if (Array.isArray(window.larvabase.allUnits)) {
              window.larvabase.allUnits.forEach(function(u) {
                group0.append(
                  $("<option></option>")
                    .val(u.id)
                    .text(u.name)
                );
              });
            }
            $("#node-input-unit-select").val(unit);
          });
        },
        oneditsave: function() {
          this.unit = $("#node-input-unit-select").val();
        }
      })
    );
  });
  </script>

  <script type="text/x-red" data-template-name="kookon-cards">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
      <label for="node-input-unit-select">Unit</label>
      <select id="node-input-unit-select"></select>
    </div>
    <div class="form-row">
      <label for="node-input-boxPLCID">Box PLC ID (index)</label>
      <input type="text" id="node-input-boxPLCID" placeholder="Name">
    </div>
    <div class="form-row">
      <label for="node-input-plc">PLC</label>
      <input type="text" id="node-input-plc">
    </div>
  </script>
