<script type="text/javascript">
    $(document).on("larvabaseready", function() {
      var tcp = $.extend(true, {}, window.larvabase.nodeDefaults, {
        category: 'config',
        defaults: {
          name: { value: "", required: true },
          amsPort: { value: "801", required: true, validate:RED.validators.number() },
          host: { value: "", required: true },
          targetNetID: { value: "", required: false },
          sourceNetID: { value: "", required: false },
        },
        label: function() {
          return this.name;
        },
        oneditprepare: function() {
          var node = this;
        },
        oneditsave: function() {
        }
      });

      RED.nodes.registerType("kookon-plc", tcp);
    });
  </script>

  <script type="text/x-red" data-template-name="kookon-plc">
      <div class="form-row">
          <label for="node-config-input-name"><i class="icon-bookmark"></i> Name</label>
          <input type="text" id="node-config-input-name">
      </div>
      <div class="form-row">
          <label for="node-config-input-host">Host / IP</label>
          <input type="text" id="node-config-input-host">
      </div>
      <div class="form-row">
          <label for="node-config-input-targetNetID">Target AMS Net ID</label>
          <input type="text" id="node-config-input-targetNetID">
      </div>
      <div class="form-row">
          <label for="node-config-input-amsPort">Target AMS Port</label>
          <input type="text" id="node-config-input-amsPort">
      </div>
      <div class="form-row">
        <label for="node-config-input-sourceNetID">Source AMS Net ID</label>
        <input type="text" id="node-config-input-sourceNetID">
    </div>
  </script>
