<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@larva.io/webcomponents/css/larva.css" />
    <script type="module" src="https://unpkg.com/@larva.io/webcomponents/dist/larva/larva.esm.js"></script>
    <script type="module" src="/build/kookon.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      :root {
--lar-color-primary: #780bb7;
--lar-color-primary-shade: #6909a1;
--lar-color-primary-tint: #8523be;
--lar-color-primary-contrast: #ffffff;
--lar-color-primary-contrast-rgb: 255,255,255;
--lar-color-primary-rgb: 120,11,183;
--lar-color-secondary: #7fb800;
--lar-color-secondary-shade: #6fa100;
--lar-color-secondary-tint: #8bbf19;
--lar-color-secondary-contrast: #000000;
--lar-color-secondary-contrast-rgb: 0,0,0;
--lar-color-secondary-rgb: 127,184,0;
--lar-color-tertiary: #00a6ed;
--lar-color-tertiary-shade: #0092d0;
--lar-color-tertiary-tint: #19aeee;
--lar-color-tertiary-contrast: #000000;
--lar-color-tertiary-contrast-rgb: 0,0,0;
--lar-color-tertiary-rgb: 0,166,237;
--lar-color-success: #7fb800;
--lar-color-success-shade: #6fa100;
--lar-color-success-tint: #8bbf19;
--lar-color-success-contrast: #000000;
--lar-color-success-contrast-rgb: 0,0,0;
--lar-color-success-rgb: 127,184,0;
--lar-color-warning: #ffb400;
--lar-color-warning-shade: #e09e00;
--lar-color-warning-tint: #ffbb19;
--lar-color-warning-contrast: #000000;
--lar-color-warning-contrast-rgb: 0,0,0;
--lar-color-warning-rgb: 255,180,0;
--lar-color-danger: #f6511d;
--lar-color-danger-shade: #d84719;
--lar-color-danger-tint: #f66233;
--lar-color-danger-contrast: #ffffff;
--lar-color-danger-contrast-rgb: 255,255,255;
--lar-color-danger-rgb: 246,81,29;
--lar-color-light: #f4f5f8;
--lar-color-light-shade: #d6d7da;
--lar-color-light-tint: #f5f6f8;
--lar-color-light-contrast: #000000;
--lar-color-light-contrast-rgb: 0,0,0;
--lar-color-light-rgb: 244,245,248;
--lar-color-medium: #d6d6d6;
--lar-color-medium-shade: #bcbcbc;
--lar-color-medium-tint: #dadada;
--lar-color-medium-contrast: #000000;
--lar-color-medium-contrast-rgb: 0,0,0;
--lar-color-medium-rgb: 214,214,214;
--lar-color-dark: #222428;
--lar-color-dark-shade: #1d1f23;
--lar-color-dark-tint: #38393d;
--lar-color-dark-contrast: #ffffff;
--lar-color-dark-contrast-rgb: 255,255,255;
--lar-color-dark-rgb: 34,36,40;
--lar-background-color: #000000;
--lar-text-color: #ffffff;
--lar-background-color-step-50: #0c0c0c;
--lar-text-color-step-50: #f2f2f2;
--lar-background-color-step-100: #191919;
--lar-text-color-step-100: #e5e5e5;
--lar-background-color-step-150: #262626;
--lar-text-color-step-150: #d8d8d8;
--lar-background-color-step-200: #333333;
--lar-text-color-step-200: #cccccc;
--lar-background-color-step-250: #3f3f3f;
--lar-text-color-step-250: #bfbfbf;
--lar-background-color-step-300: #4c4c4c;
--lar-text-color-step-300: #b2b2b2;
--lar-background-color-step-350: #595959;
--lar-text-color-step-350: #a5a5a5;
--lar-background-color-step-400: #666666;
--lar-text-color-step-400: #999999;
--lar-background-color-step-450: #727272;
--lar-text-color-step-450: #8c8c8c;
--lar-background-color-step-500: #7f7f7f;
--lar-text-color-step-500: #7f7f7f;
--lar-background-color-step-550: #8c8c8c;
--lar-text-color-step-550: #727272;
--lar-background-color-step-600: #999999;
--lar-text-color-step-600: #666666;
--lar-background-color-step-650: #a5a5a5;
--lar-text-color-step-650: #595959;
--lar-background-color-step-700: #b2b2b2;
--lar-text-color-step-700: #4c4c4c;
--lar-background-color-step-750: #bfbfbf;
--lar-text-color-step-750: #3f3f3f;
--lar-background-color-step-800: #cccccc;
--lar-text-color-step-800: #333333;
--lar-background-color-step-850: #d8d8d8;
--lar-text-color-step-850: #262626;
--lar-background-color-step-900: #e5e5e5;
--lar-text-color-step-900: #191919;
--lar-background-color-step-950: #f2f2f2;
--lar-text-color-step-950: #0c0c0c;
--lar-background-color-step-1000: #ffffff;
--lar-text-color-step-1000: #000000;
--lar-node-box-border-radius: 1rem;
--lar-node-icon-small-border-radius: 50%;
--lar-node-icon-small-border-width: 0.3rem;
--lar-button-border-radius	: .6rem;
--lar-button-border-radius-small: 1.2rem;
--lar-node-icon-small-top: -1rem;
--lar-node-icon-small-left: -1rem;
--lar-node-icon-small-size: 1.7rem;
--lar-node-icon-small-border-color: #000000;
}
    </style>
  </head>
  <body>
    <div id="app" >
      <div v-if="loaded && !token">
        <form @submit.prevent="login" >
        <input v-model="input.username" />
        <input v-model="input.password" />
        <input type="submit" value="Login">
      </form>
      </div>
      <lar-app v-if="token && loaded">
        <div id="grid">
          <template v-for="(opt) in uiconfig">
            <component
              :is="opt.node.type"
              :id="opt.node.id"
              :ref="opt.node.id"
              :key="opt.node.id"
              color="primary"
              :enable-secuirty-quick-actions="true"
              :allow-indication-auto-coloring="true"
              :allow-node-auto-coloring="true"
              color-inputs="medium"
              :main-title="opt.ui.name"
              :sup-title="opt.ui.room.name"
              :sub-title="opt.ui.category.name"
              :node-id="opt.node.id"
              :log="opt.ui.log"
              :icon="opt.ui.icon"
              @output="handleNodeOutput"
              @request="handleNodeRequest"
            />
          </template>
        </div>
      </lar-app>
    </div>
    <style type="text/css">
    #grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    lar-app {
      min-height: 100vh;
    }
    </style>

    <script type="module">
    import LarvaWebsocket from 'https://unpkg.com/@larva.io/vue-websocket';
    Vue.config.ignoredElements.push(/^lar-/);
    Vue.config.ignoredElements.push(/^kookon-/);
    Vue.use(LarvaWebsocket, `ws://${window.location.hostname}:3000/ws`);
    var app = new Vue({
        el: '#app',
        larva: {
          events: {
            open () {
              console.log('larva opened');
              this.loaded = true;
              if (this.token) {
                this.getUIConfiguration();
              } else {
                // try autologin
                this.login();
              }
            },
            data(topic, data)  {
              if (topic === 'iot-2/evt/larvaUINodes/fmt/json') {
                this.uiconfig = data || [];
                return;
              }
              if (topic === 'iot-2/evt/larvaCoreConfig/fmt/json') {
                this.getUIConfiguration();
                return;
              }
              // check weather topic matches component ID from all components that we have
              // if we do have it, set the event data for component.
              let match = /^iot-2\/evt\/([^\/]+)\/fmt\/json$/g.exec(topic); // eslint-disable-line
              if (match) {
                const nodeId = match[1];
                if (this.$refs[nodeId].length === 0) {
                  // nodes with this ref not found
                  return;
                }
                const node = this.$refs[nodeId][0];
                if (node) {
                  node.input(data);
                }
              }
            }
          }
        },
        data: {
            uiconfig: [],
            token: false,
            loaded: false,
            input: {
              username: 'admin',
              password: 'admin',
            },
        },
        mounted() {
          this.$larva.interceptors.send.use((obj) => {
            if (this.token) {
              obj.payload = obj.payload || {};
              obj.payload.token = this.token;
            }
            return obj;
          });
          this.$larva.reconnect();
        },
        methods: {
          login () {
            this.$larva.send('iot-2/cmd/login/fmt/json', this.input).then((data) => {
              if (data.auth && data.access_token) {
                this.token = data.access_token;
                this.$larva.reconnect();
              }
            });
          },
          getUIConfiguration() {
            this.uiconfig = false;
            this.$larva.send('iot-2/cmd/larvaUINodes/fmt/json', {}).then((data) => {
              this.uiconfig = data.nodes.map((node) => node);
            });
          },
          handleNodeOutput (data) {
            const nodeId = data.target.attributes['node-id'] ? data.target.attributes['node-id'].value : null;
            if (nodeId) {
              const node = data.target;
              this.$larva.send(`iot-2/cmd/${nodeId}/fmt/json`, data.detail).then((data) => {
                node.input(data);
              }).catch((err) => {
                node.error(err);
              });
            }
          },
          handleNodeRequest (data) {
            const nodeId = data.target.attributes['node-id'] ? data.target.attributes['node-id'].value : null;
            if (nodeId) {
              // eslint-disable-next-line no-unused-vars
              const node = data.target;
              const composedPath = data.composedPath();
              const subComponent = composedPath[0];
              const subComponentTagName = subComponent ? subComponent.tagName : 'unknown';

              switch (subComponentTagName) {
                case 'LAR-LOG-MODAL':
                  // requests nodeId logs
                  const reqdata = {
                    ...data.detail,
                    id: nodeId,
                  };
                  this.$larva.send('iot-2/cmd/getNodeLogs/fmt/json', reqdata)
                    .then((data) => {
                      subComponent.response(data);
                    })
                    .catch((err) => {
                      subComponent.error(err);
                    });
                  break;
                default:
                  subComponent.error('Unknown SubComponent');
              }
            }
          }
        },
    });
    </script>
    </body>
    </html>
